

.navbar{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    margin-right: 5px;
}

.navbar ul li {
    margin-right: 30px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    font-family: "DM Sans", sans-serif;
}

main div{
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}

main div:nth-child(2n){
    background-color: #c7684c;
    color: #e4bea4;
}

main div:nth-child(2n+1){
    background-color: #809670;
    color: #374034;
}

main h1{
    letter-spacing: 3px;
    font-size: 100px;
    color: #c7684c;
    text-shadow: 5px 5px 0px #e4bea4;
}

main section{
    width: 60%;
    line-height: 30px;
}


main img{
    height: 30px;
    width: auto;

}



/*==========================================================================*/
/* ======================   STYLE PAGE GROUPE   ============================*/  
/*==========================================================================*/


main .section-card{
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

main .section-card img{
    height: auto;
}

main .section-card h5{
    margin: 10px;
    text-align: center;
}




