body{
    background-color: red;
}

.navbar{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    margin-right: 5px;
}

.navbar ul li {
    margin-right: 30px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    font-family: "DM Sans", sans-serif;
}

main div{
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}

main div:nth-child(2n){
    background-color: rgb(48, 172, 48);
}

main div:nth-child(2n+1){
    background-color:  rgb(124, 175, 47);
}

main h1{
    letter-spacing: 3px;
    font-size: 100px;
}

main section{
    width: 60%;
    line-height: 30px;
}



main img{
    height: 30px;
    width: auto;
}

